    /* Rundade hörn */
    .col-12 img {
        border-top-left-radius: 1rem; 
        border-top-right-radius: 1rem;
        width: 100%;
        border:.4rem solid hsl(var(--base-hue-1), 20%, 20%);
    }   
    /* Den rutan som namnen står i*/
    .col-12 .overlay {
        position: relative;
        height: 5rem;
        background-color: hsl(var(--base-hue-1), 20%, 20%);
        color: hsl(var(--base-hue-1),5%, 80%);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    /* Hur man flyttar på texten och stil*/
    @font-face {
        font-family: poppins,;
        src: url('fonts/poppins-v15-latin-ext_latin-600.woff2') format('woff');
    }
    .name{
        position: absolute;
        left: 3%;
        font-size: 1.5rem;
    }
    .email{
        position: absolute;
        bottom: 10%;
        right: 3%;
        font-style: italic;
        font-size: 1.3rem;  
    }
   
@media screen and (min-width: 768px) {
   .col-12{
    position: relative;
   }
    
    .col-12 img{
        transition: transform 0.3s ease;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        z-index: 1;   
    }
    /*början till att få till hover effekten*/
    .col-12::before{
        content: "";
        position: absolute;
        height: 107%;
        width: 104%;
        bottom: -4%;
        border-radius:1rem;
        box-shadow: 1.1rem 1.1rem .5rem .5rem;
        background-size: cover;
        background: linear-gradient(
        120deg, hsl(var(--base-hue-5), 60%, 190%),
        hsl(var(--base-hue-3), 180%, 80%),
        hsl(var(--base-hue-3), 180%, 60%));
        mix-blend-mode: multiply;
        background-position: 0 0;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease;  
        z-index: 1;  
    }
    .col-12:hover::before{
        opacity: 0.6;
        z-index: 1;
    }
    
    .col-12:hover img{
        transform: scale(1.08);
        filter: blur(.1rem) contrast(150%); 
    }  
  
    .overlay{
        display: none;
    }
    .col-12:hover .overlay{
        display: flex;
        position: absolute;
        top: 78%;
        left: -3%;
        width: 107%;
        opacity: 0.9;
        height: 25%;
        z-index: 1;
    } 
}
@media screen and (min-width: 1366px) {
    .col-12 img{
        border:.3rem solid hsl(var(--base-hue-1), 20%, 20%);
    }
    .name{
        font-size: 1.2rem;
    }
    .email{
        font-size: 1.2rem;
    }
}