.gallery {
    display: grid;
    width: 100%; 
}
.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

@media screen and (min-width: 392px) {
     /* Rundade hörn */
    .col-12 img {
        border-top-left-radius: 1rem; /* Justera detta för önskad rundning */
        border-top-right-radius: 1rem;
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%; /* Gör bilden responsiv */
        border:.5rem solid var(--black);
        margin-bottom: -1rem;
    }  
    .col-12 .overlay {
        position: relative;
        width: 100%;
        height: 5rem;
        background-color: var(--black);
        color: var(--white);
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    
        
    }

}
@media screen and (min-width: 480px) {
    .col-12{
        grid-column: span 6;
    }
    .col-12 img{
        width: 100%;
        height: auto;
    }

}
@media screen and (min-width: 768px) {
    .col-12 {
        grid-column: span 4;
        position: relative;
        overflow: hidden;
        
    }
    .col-12 img{
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease;
    }
    .col-12::after { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: var(--black); 
        padding: 1rem;
        border-radius: 1rem;
        color: white;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease; opacity: 0.3s ease; visibility: 0.3s ease;
    }
    .col-12:hover {
        transform: scale(1,1);
        border-color: var(--black);
    }
    .col-12:hover img{
        transform: scale(1.1);
    }  
    .col-12:hover::after{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        visibility: visible;
    }
}